/* Navigation bar */
#nav {
    display: grid;
    justify-content: end;
    align-items: center;
    grid-auto-flow: column;
    grid-column-gap: 15px;
    } 

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#user-icon {
    border-radius: 50%;
    padding-top: 0%;
}

/* Main page */
#main {
    display: grid;
    justify-items: center;
    grid-gap: 10px;
    padding-top: 8%;
}


.language {
    text-decoration: underline;
}

.text {
    text-align: center;
}


/* Footer section */
#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: #efefef;
} 

.top {
    padding-top: 8px;
}

.bottom {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;   
}
