/* Navigation bar */
#nav {
    display: grid;
    justify-content: end;
    align-items: center;
    grid-auto-flow: column;
    grid-column-gap: 15px;
    } 

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#user-icon {
    border-radius: 50%;
    padding-top: 0%;
}

/* Main page */
#main {
    display: grid;
    justify-content: center;
}

img {
    
}

#search {
 
}

.buttons {
 
}

.text {
    text-align: center;
}

/* Footer section */
#footer {
    margin-top: 28%;
    margin-left: 1%;
    background-color: rgb(238, 238, 238);
    
}

.region {
    margin-bottom: 10px;
    line-height: 20px;
}

#right{
    float: right;
    margin-right: 1%;
}

#left {
display: grid;
grid-auto-flow: column;
grid-auto-columns: 8%;
} 